.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.home img {
    background-color: transparent;
    width: 600px;
    height: auto;
}

.enter {
    font-size: 36px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: goldenrod;
    color: white;
    margin-left: -60px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.enter:hover {
    transform: scale(1.1);
    background-color: gold;
    color: #333;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    margin: 20px;
    padding: 10px;
}