.team-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.btn {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    outline: none;
    box-sizing: border-box;
    border: 1px solid #333;
    transition: 0.1s;
    background-color: rgb(187, 59, 59);
    color: white;
}

.btn:hover {
    background-color: rgb(212, 212, 212);
    color: #333;
    box-sizing: border-box;
    border: 1px solid #333;
}

/* ===== POKEMON TEAM ===== */

.team {
    max-width: 644px;
    min-width: 644px;
    height: auto;
    background: rgb(102,102,102);
    background: linear-gradient(120deg, rgba(102,102,102,1) 0%, rgba(204,204,204,1) 74%, rgba(102,102,102,1) 100%);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    box-shadow: 0 10px 10px rgba(0,0,0,0.4);
    margin: 10px;
}

.teams {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.trainer {
    width: auto;
    text-align: left;
    display: flex;
    color: #333;
    background: rgb(233,87,113);
    background: linear-gradient(140deg, rgba(233,87,113,1) 0%, rgba(153,49,66,1) 100%);
    padding: 10px;
    border-radius: 6px 6px 0 0;
    border: 2px solid #333;
}

.trainer-stats {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    min-width: 60%;
    color: #222;
}

.traner-stats p, .trainer-stats span {
    color: white;
}

.trainer-img {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-right: 10px;
}

.trainer-img img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    border: 2px solid #333;
}

.pokemon-list {
    width: auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #333;
    border-top: none;
    border-bottom: none;
}

.pokemon-li {
    width: auto;
    margin: 2px;
    border: none;
    display: flex;
    background: rgb(74,194,208);
    background: linear-gradient(180deg, rgba(74,194,208,1) 0%, rgba(14,91,107,1) 88%);
    border: 2px solid #333;
    border-radius: 20px;
    transition: 0.1s ease all;
}

.pokemon-li:hover {
    background: rgb(93, 224, 236);
}

.sprite {
    background-image: url('../../img/pokeball-bg.png');
    background-position: top;
    background-size: cover;
    opacity: 1;
}

.sprite img {
    width: 80px;
}

.pokemon-li-stats {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 6px;
}

.hp {
    display: flex;
    align-items: center;
    padding: 0 4px;
    border-radius: 10px;
    font-size: 14px;
}

.hp-bar {
    width: 60px;
    height: 8px;
    border: 2px solid #444;
    border-radius: 6px;
    background-color: rgb(118, 230, 118);
    margin-left: 10px;
}

.buttons {
    border: 2px solid #333;
    border-top: none;
    box-sizing: border-box;
    margin: 0;
    padding-left: 20px;
    background: #666;
    border: 2px solid #333;
    border-radius: 0 0 6px 6px;
}

.buttons button {
    margin-right: 4px;
    padding: 8px 14px;
    cursor: pointer;
    border: none;
    outline: none;
}

.buttons button:hover {
    background-color: #ccc;
}

/* ============= */

.new-team-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.new-team-form form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    padding: 20px;
    background-color: rgb(66, 66, 66);
    background-image: url('../../img/pokeball-bg.png');
    background-size: cover;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    width: 480px;
    color: white;
}

.new-team-form input {
    border: 1px solid #333;
    padding: 6px 12px;
    outline: none;
    margin: 8px 0;
    background-color: #f2f2f2;
}

.new-team-form input[type=radio] {
    margin-left: 4px;
}

h2 {
    margin: 20px;
}

.list {
    display: flex;
    flex-wrap: wrap;
}

.list div {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    background: rgb(117,117,117);
    background: linear-gradient(140deg, rgba(117,117,117,1) 0%, rgba(32,32,32,1) 77%);
    margin: 10px 10px 0 0;
    padding: 10px;
    border-radius: 6px;
    border: 2px solid #222;
}

#one, #two, #three, #four, #five, #six {
    margin: 10px 0;
}

.pokeball-list {
    padding: 10px 0 0 0;
}